/*
  key points: xs: 0,
              sm: 576px,
              md: 768px,
              lg: 992px,
              xl: 1200px,
              xxl: 1400px
*/

@mixin media-breakpoint-only($size) {
    @if $size==xs {
        @media (max-width: $breakpoint-sm - 1) {
            @content;
        }
    }

    @else if $size==sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
            @content;
        }
    }

    @else if $size==md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
            @content;
        }
    }

    @else if $size==lg {
        @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 1) {
            @content;
        }
    }

    @else if $size==xl {
        @media (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl - 1) {
            @content;
        }
    }

    @else if $size==xxl {
        @media (min-width: $breakpoint-xxl) {
            @content;
        }
    }
}

@mixin media-breakpoint-down($size) {
    @if $size==sm {
        @media (max-width: $breakpoint-sm - 1) {
            @content;
        }
    }

    @else if $size==md {
        @media (max-width: $breakpoint-md - 1) {
            @content;
        }
    }

    @else if $size==lg {
        @media (max-width: $breakpoint-lg - 1) {
            @content;
        }
    }

    @else if $size==xl {
        @media (max-width: $breakpoint-xl - 1) {
            @content;
        }
    }

    @else if $size==xxl {
        @media (max-width: $breakpoint-xxl - 1) {
            @content;
        }
    }
}

@mixin media-breakpoint-up($size) {
    @if $size==sm {
        @media (min-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $size==md {
        @media (min-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $size==lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $size==xl {
        @media (min-width: $breakpoint-xl) {
            @content;
        }
    }

    @else if $size==xxl {
        @media (min-width: $breakpoint-xxl) {
            @content;
        }
    }
}
