@import "helpers/functions";
@import "base/fonts";

/* Color pallet */

$white:         #ffffff; // luma	#254.75
$white-100:     #e0e0e1; // luma	#223.89
// $white-200:    #c4c4c4;    luma 	 #195.80
$white-300:     #c3c3c3; // luma	#194.81
$white-400:     #bbbbbb; // luma   #186.81
$blue:          #43abf0; // luma	#147.53
$blue-100:      #42a9ed; // luma	#145.72
$blue-200:      #3e9cdc; // luma	#134.97
$blue-300:      #286690; // luma	#88.11
$blue-400:      #6f6d7b; // luma	#111.07
$grey:          #3d4050; // luma	#64.85
$grey-100:      #403d50; // luma	#63.98
// $grey-200:     #2a2b30;    luma    #43.22
$grey-300:      #272733; // luma	#40.32
$black-200:     #231f20; // luma	#32.28
// $black-100:    #10101d;    luma	 #17.45
$black:         #000000; // luma	#0.00

/* Font size */

$font-size-13:  rem-calc(13);
$font-size-15:  rem-calc(15);
$font-size-16:  rem-calc(16);
$font-size-18:  rem-calc(18);
$font-size-20:  rem-calc(20);
$font-size-28:  rem-calc(28);
$font-size-36:  rem-calc(36);
$font-size-48:  rem-calc(48);

/* Font weight */

$font-weight-regular:       400;
$font-weight-semi-bold:     600;
$font-weight-bold:          700;
$font-weight-extra-bold:    800;

/* Font family */

$lato-font: "Lato", "Arial", sans-serif;
$raleway-font: "Raleway", "Arial", sans-serif;

/* Media breakpoint */

$breakpoint-xs:     rem-calc(0);
$breakpoint-sm:     rem-calc(576);
$breakpoint-md:     rem-calc(768);
$breakpoint-lg:     rem-calc(992);
$breakpoint-xl:     rem-calc(1200);
$breakpoint-xxl:    rem-calc(1400);
