.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: rem-calc(64);
    background-color: rgba($black-200, 0.9);

    @include media-breakpoint-up(md) {
        min-height: rem-calc(64);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem-calc(64);

        @include media-breakpoint-down(md) {
            align-items: initial;
        }

        @include media-breakpoint-up(md) {
            min-height: rem-calc(64);
        }
    }

    &__hamburger {
        display: none;

        @include media-breakpoint-down(md) {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: rem-calc(35);
            height: rem-calc(23);
            margin-top: rem-calc(12);
            transform: translateY(50%);
        }
    }

    &__hamburger-line {
        display: block;
        width: 100%;
        height: rem-calc(4);
        background: $white;
        border-radius: rem-calc(10);

        &:first-child {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        &:nth-child(2) {
            transition: transform 0.2s ease-in-out;
        }

        &:last-child {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    &__input {
        display: none;

        @include media-breakpoint-down(md) {
            position: absolute;
            z-index: 3;
            display: block;
            top: rem-calc(23);
            left: rem-calc(15);
            width: rem-calc(35);
            height: rem-calc(23);
            opacity: 0;

            &:checked ~ {
                .header__menu {
                    transform: translateX(0);
                }

                .header__hamburger span {
                    &:first-child {
                        transform: rotate(35deg);
                    }

                    &:nth-child(2) {
                        transform: scaleY(0);
                    }

                    &:last-child {
                        transform: rotate(-35deg);
                    }
                }
            }
        }
    }

    &__menu {
        @include list-unstyled();
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        order: 2;
        gap: rem-calc(10);

        @include media-breakpoint-only(xs) {
            width: 100%;
        }

        @include media-breakpoint-down(md) {
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            width: 80%;
            height: 100vh;
            margin: 0 rem-calc(-15);
            padding: rem-calc(64) rem-calc(15);
            background-color: $black-200;
            transform: translate(-150%);
            transition: transform 0.4s ease-in-out;
        }
    }

    &__menu-item {
        margin-left: rem-calc(60);
        font-size: $font-size-13;
        font-weight: $font-weight-semi-bold;
        line-height: unitless-lh(13, 15);
        text-transform: uppercase;
        color: $white;
        cursor: pointer;

        @include hover-focus-active() {
            color: $blue;
        }

        @include media-breakpoint-down(md) {
            margin-left: 0;
            font-size: $font-size-24;
            line-height: unitless-lh(24, 36);
        }

        @include media-breakpoint-down(lg) {
            margin-left: rem-calc(30);
        }


        &--active {
            color: $blue;
        }
    }

    &__menu-link {
        @include link-unstyled();
    }

    &__logo {
        @include link-unstyled();
        z-index: 0;
        font-family: $raleway-font;
        font-size: $font-size-28;
        font-weight: $font-weight-extra-bold;
        line-height: unitless-lh(28, 33);

        @include media-breakpoint-down(md) {
            position: absolute;
            top: 0;
            right: rem-calc(15);
            bottom: 0;
            display: flex;
            align-items: center;
            font-size: $font-size-24;
            line-height: unitless-lh(24, 28);
        }

        &--accent {
            color: $blue-100;
        }
    }
}
