/* Color pallet */
/* Font size */
/* Font weight */
/* Font family */
/* Media breakpoint */
/*
  key points:
         xs: 0,
         sm: 576px,
         md: 768px,
         lg: 992px,
         xl: 1200px,
         xxl: 1400px
*/
font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}

font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: local("Lato"), url("../fonts/Lato/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato/Lato-Semibold.woff") format("woff");
  font-display: swap;
}

font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"), url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-display: swap;
}

font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  src: local("Lato"), url("../fonts/Lato/Lato-ExtraBold.woff2") format("woff2"), url("../fonts/Lato/Lato-ExtraBold.woff") format("woff");
  font-display: swap;
}

font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: local("Raleway"), url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff");
  font-display: swap;
}

/* Color pallet */
/* Font size */
/* Font weight */
/* Font family */
/* Media breakpoint */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 73.25rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 0.94rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-divided {
  padding-bottom: 3.13rem;
}
.section-divided:first-of-type {
  padding-top: 3.13rem;
}

.reset-button {
  margin: 0;
  padding: 0;
  width: auto;
  font: inherit;
  text-align: inherit;
  line-height: normal;
  background: transparent;
  border: none;
  color: inherit;
  overflow: visible;
  outline: none;
}
.reset-button :focus:not(:focus-visible) {
  outline: none;
}
.reset-button :focus:not(:-moz-focusring) {
  outline: none;
}