.banner {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: rem-calc(64);
    background: url('../img/banner-bg.png') center center / cover no-repeat;

    @include media-breakpoint-down(md) {
        padding: calc(rem-calc(64) + rem-calc(64)) 0 rem-calc(64);
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__content {
        @include media-breakpoint-up(md) {
            max-width: rem-calc(780);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem-calc(80);
        font-size: $font-size-48;
        font-weight: $font-weight-bold;
        line-height: unitless-lh(48, 57);
        text-transform: uppercase;
        color: $black;

        @include media-breakpoint-only(xs) {
            margin-bottom: rem-calc(40);
            font-size: $font-size-24;
            line-height: unitless-lh(24, 36);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: rem-calc(60);
            font-size: $font-size-36;
            line-height: unitless-lh(36, 48);
        }

        &--accent {
            color: $blue;
        }
    }

    &__text {
        margin-top: 0;
        margin-bottom: rem-calc(10);
        font-size: $font-size-20;
        font-weight: $font-weight-bold;
        line-height: unitless-lh(20, 24);
        color: $black;

        @include media-breakpoint-down(md) {
            font-size: $font-size-16;
            line-height: unitless-lh(16, 24);
        }
    }

    &__benefit-list {
        @include list-unstyled();
        margin-bottom: rem-calc(80);

        @include media-breakpoint-only(xs) {
            margin-bottom: rem-calc(40);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: rem-calc(60);
        }
    }

    &__benefit-item {
        position: relative;
        padding-left: rem-calc(26);
        font-size: $font-size-20;
        line-height: unitless-lh(20, 24);
        color: $black;

        @include media-breakpoint-down(md) {
            font-size: $font-size-16;
            line-height: unitless-lh(16, 24);
        }

        &:not(:last-of-type) {
            margin-bottom: rem-calc(5);
        }

        &::before {
            content: '-';
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem-calc(25);
            height: rem-calc(22);
        }
    }

    &__btn-wrapper {
        display: flex;
        gap: rem-calc(30);

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    &__btn {
        width: rem-calc(183);
        font-size: $font-size-13;
        line-height: unitless-lh(13, 16);

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}
