.footer {
    padding: rem-calc(30) 0;
    background-color: $grey;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem-calc(40);

        @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: rem-calc(15);
        }
    }

    &__copy {
        margin: 0;
        font-size: $font-size-13;
        line-height: unitless-lh(13, 16);
    }

    &__payments,
    &__contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: rem-calc(30);
        font-size: $font-size-13;
        line-height: unitless-lh(13, 16);
    }

    &__payments {
        @include list-unstyled();
        position: relative;
        color: $white-300;

        @include media-breakpoint-down(md) {
            margin: rem-calc(20) 0;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: rem-calc(1);
                background-color: $white-300;
            }

            &::before {
                top: rem-calc(-20);
            }

            &::after {
                bottom: rem-calc(-20);
            }
        }

        @include media-breakpoint-up(md) {
            margin: 0 rem-calc(40);

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: rem-calc(1);
                height: rem-calc(18);
                background-color: $white-300;
            }

            &::before {
                left: rem-calc(-40);
            }

            &::after {
                right: rem-calc(-40);
            }
        }
    }

    &__contacts-link {
        @include link-unstyled();
    }

    &__payments-method,
    &__contacts-link {
        display: grid;
        grid-template-columns: rem-calc(20) 1fr;
        gap: rem-calc(10);
    }
}
