@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato"),
         url('../../fonts/Lato/Lato-Regular.woff2') format('woff2'),
         url('../../fonts/Lato/Lato-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    src: local("Lato"),
         url('../../fonts/Lato/Lato-Semibold.woff2') format('woff2'),
         url('../../fonts/Lato/Lato-Semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato"),
         url('../../fonts/Lato/Lato-Bold.woff2') format('woff2'),
         url('../../fonts/Lato/Lato-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    src: local("Lato"),
         url('../../fonts/Lato/Lato-ExtraBold.woff2') format('woff2'),
         url('../../fonts/Lato/Lato-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: local("Raleway"),
         url('../../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
         url('../../fonts/Raleway/Raleway-ExtraBold.woff') format('woff');
    font-display: swap;
}
