@import "../helpers/mixins";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $lato-font;
    font-weight: $font-weight-regular;
    color: $white;
}
