@import "../helpers/mixins";

.container {
    width: 100%;
    max-width: rem-calc(1172);
    height: 100%;
    margin: 0 auto;
    padding: 0 rem-calc(15);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: rem-calc(1);
    height: rem-calc(1);
    margin: rem-calc(-1);
}

.section-divided {
    padding-bottom: rem-calc(50);

    &:first-of-type {
        padding-top: rem-calc(50);

        @include media-breakpoint-down(md) {
            padding-top: rem-calc(30);
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: rem-calc(30);
    }
}

.btn {
    @include reset-btn-styles();
    padding: rem-calc(15) rem-calc(30);
    text-transform: uppercase;
    border-radius: rem-calc(4);
    cursor: pointer;
    overflow: hidden;

    &--blue {
        background-color: $blue;
        border: rem-calc(1) solid $white;
        color: $white;

        @include hover-focus-active() {
            background-color: $white;
            border: rem-calc(1) solid $blue;
            color: $blue;
        }
    }

    &--white {
        background-color: $white;
        border: rem-calc(1) solid $blue-400;
        color: $blue-400;

        @include hover-focus-active() {
            border-color: $blue;
            color: $blue;
        }
    }
}
