svg {
    &.search {
        width: rem-calc(35);
        height: rem-calc(35);
        fill: $white;
        stroke: $white;
    }

    &.percent {
        width: rem-calc(31);
        height: rem-calc(32);
        fill: $white;
        stroke: $white;
    }

    &.file {
        width: rem-calc(18);
        height: rem-calc(21);
        fill: $grey-300;
        stroke: $grey-300;
    }

    &.file-add {
        width: rem-calc(40);
        height: rem-calc(43);
        fill: $white;
        stroke: $white;
    }

    &.mail {
        width: rem-calc(37);
        height: rem-calc(29);
        fill: $white;
        stroke: $white;
    }

    &.mail-small {
        width: rem-calc(16);
        height: rem-calc(13);
        fill: $blue-200;
        stroke: $blue-200;
    }

    &.money {
        width: rem-calc(39);
        height: rem-calc(27);
        fill: $white;
        stroke: $white;
    }

    &.chevron {
        width: rem-calc(9);
        height: rem-calc(6);
        fill: $black;
        stroke: $black;
    }

    &.qiwi {
        width: rem-calc(21);
        height: rem-calc(20);
        fill: $blue-200;
        stroke: $blue-200;
    }

    &.vk {
        width: rem-calc(12);
        height: rem-calc(14);
        fill: $blue-200;
        stroke: $blue-200;
    }

    &.web-money {
        width: rem-calc(19);
        height: rem-calc(18);
        fill: $blue-200;
        stroke: $blue-200;
    }

    &.yandex {
        width: rem-calc(15);
        height: rem-calc(18);
    }
}
